<!doctype html>
<html lang="en" class="h-100">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css')}}">

  <link rel="icon" href="{{ url_for('static', filename='imgs/logo.png') }}">

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/362c3782b4.js" crossorigin="anonymous"></script>

  <title>Browse | Post Wardrobe</title>
</head>

<body class="c-bg-yellow d-flex flex-column h-100">
  {% include 'header.html' %}

  <!-- main content -->
  <main role="main" class="flex-shrink-0" style="padding-top: 80px">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-lg-2">
          <nav id="filternav" class="navbar navbar-light navbar-expand-md c-bg-pink mb-4 f-bilo">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#filters" aria-controls="filters" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse c-bg-pink" id="filters" style="">
              <form id="filterform" class="w-100">
                <ul class="mx-auto" style="list-style-type: none; padding-left: 0">

                  <!-- HERE ARE THE FILTERS -->
                  <li class="nav-item active">
                    <div class="form-group">
                      <label for="size">Size</label>
                      <select class="form-control" id="size" name="size" onchange="filter_change();">
                        <option>Any</option>
                        <option>XS</option>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                      </select>
                    </div>
                  </li>

                  <li class="nav-item active">
                    <div class="form-group">
                      <label for="material">Material</label>
                      <select class="form-control" id="material" name="material" onchange="filter_change();">
                        <option>Any</option>
                        <option>Cotton</option>
                        <option>Leather</option>
                        <option>Nylon</option>
                        <option>Polyester</option>
                        <option>Other</option>
                      </select>
                    </div>
                  </li>

                  <li class="nav-item active">
                    <div class="form-group">
                      <label for="color">Color</label>
                      <select class="form-control" id="color" name="color" onchange="filter_change();">
                        <option>Any</option>
                        <option>Black</option>
                        <option>White</option>
                        <option>Red</option>
                        <option>Orange</option>
                        <option>Yellow</option>
                        <option>Green</option>
                        <option>Blue</option>
                        <option>Purple</option>
                      </select>
                    </div>
                  </li>

                  <li class="nav-item active">
                    <div class="form-group">
                      <label for="price">Approx. Price</label>
                      <select class="form-control" id="price" name="price" onchange="filter_change();">
                        <option>Any</option>
                        <option value="20">&lt; $20</option>
                        <option value="40">&lt; $40</option>
                        <option value="60">&lt; $60</option>
                        <option value="80">&lt; $80</option>
                        <option value="100">&lt; $100</option>
                        <option value="Any">$100+</option>
                      </select>
                    </div>
                  </li>

                  <li class="nav-item active">
                    <div class="form-group">
                      <label for="occassion">Occassion</label>
                      <select class="form-control" id="occassion" name="occassion" onchange="filter_change();">
                        <option>Any</option>
                        <option>Prom</option>
                        <option>Wedding</option>
                        <option>Work</option>
                        <option>Night</option>
                        <option>Formal</option>
                      </select>
                    </div>
                  </li>

                  <li class="nav-item active">
                    <div class="form-group">
                      <label for="weather">Weather</label>
                      <select class="form-control" id="weather" name="weather" onchange="filter_change();">
                        <option>Any</option>
                        <option>Year-round</option>
                        <option>Warm</option>
                        <option>Cold</option>
                      </select>
                    </div>
                  </li>

                  <!-- We'll do this later -->
                  <!--
                  <li class="nav-item active">
                    <div class="form-group">
                      <label for="rating">Seller Rating</label>
                      <select class="form-control" id="rating" name="rating" onchange="filter_change();">
                        <option>Any</option>
                        <option>1 Star+</option>
                        <option>2 Star+</option>
                        <option>3 Star+</option>
                        <option>4 Star+</option>
                        <option>5 Star</option>
                      </select>
                    </div>
                  </li>
-->

                  <li class="nav-item active">
                    <div class="form-group">
                      <label for="condition">Condition</label>
                      <select class="form-control" id="condition" name="condition" onchange="filter_change();">
                        <option>Any</option>
                        <option>Like New</option>
                        <option>Good</option>
                        <option>Fair</option>
                      </select>
                    </div>
                  </li>

                </ul>
              </form>
            </div>
          </nav>
        </div>
        <div class="col-md-9 col-lg-10 f-avenir">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} text-center f-bilo" role="alert">{{ message }}</div>
          {% endfor %}
          {% endwith %}
          <div class="container-fluid">
            <div class="row" id="items">


            </div>
            <div class="row">
              <button type="button" id="load_more" class="btn btn-custom mx-auto f-bilo" onclick="load_many();">Load More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% include 'footer.html' %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="../static/js/browse.js"></script>
</body></html>
