<div class="col-lg-4 col-md-6 mb-4">
  <div class="card zoom mx-5 mx-md-0 h-100">
    <img class="card-img-top" src="{{ img_src }}" alt="dress" style="height: 300px; object-fit: cover">
    <div class="card-body">
      <a class="h5 card-title stretched-link black-link" href="/item/{{ item_id }}">
        <span class="float-left w-100 f-bilo" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{ name }}</span>
        <br>
        <span class="float-right f-avenir">${{ suggested_price }}</span></a>
    </div>
  </div>
</div>
