<!doctype html>
<html lang="en" class="h-100">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css')}}">

  <link rel="icon" href="{{ url_for('static', filename='imgs/logo.png') }}">

  <title>Post Wardrobe</title>
</head>

<body class="c-bg-yellow d-flex flex-column h-100">
  <main role="main" class="flex-shrink-0">
    <div class="container mt-2" style="max-width: 800px;">
      {% include 'login.html' %}
      <div class=" mt-5 p-2" style="background-image: url(../static/imgs/stripes.png); background-size: 200px;">
        <div class="container-fluid c-bg-pink d-md-block d-none">
          <div class="row">
            <div class="col-6 p-3">

            </div>
            <div class="col-6 p-3 c-border">
              <img src="../static/imgs/logo_big.png" width="100%">
            </div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="col-6 p-3 f-bilo">
              Here at Post Wardrobe, we aim to help you get the most out of your favorite items of clothing. Have a bit-too-pricey prom dress you can’t completely let go of just yet? How about a bridesmaid’s dress that would break your best friends heart if you donated or sold forever? Make a “Vendor” account here on PW, upload some photos and a description of the item, and add your 2-week-rental price. It’s easy as pie!
            </div>
            <div class="col-6 p-3 f-bilo c-border">
              If you are looking to rent out or buy one of these beautiful items for yourself, make a “Shopper” account, check off your style preferences and location settings, and voila! You have access to hundreds of styles while being eco-friendly and bargain savvy. Whether you’re selling, buying, or renting, the Post Wardrobe community is here so you make the most of the latest trends, the older classics, and the unique style of others.
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-3"></div>
            <div class="col-6 p-3 f-bilo c-border">
              <div class="float-right">
                <a href="/browse" class="btn btn-custom c-font-pink mr-2">Browse</a>
                <a href="/signup_page" class="btn btn-custom c-font-pink">Join today!</a>
              </div>
            </div>
          </div>

        </div>

        <div class="container-fluid c-bg-pink d-md-none d-block">
          <div class="row py-3 px-4">
            <div class="col">
              <img src="../static/imgs/logo_big.png" width="100%;">
            </div>
          </div>
          <div class="row py-3 px-5 f-bilo">
            Here at Post Wardrobe, we aim to help you get the most out of your favorite items of clothing. Have a bit-too-pricey prom dress you can’t completely let go of just yet? How about a bridesmaid’s dress that would break your best friends heart if you donated or sold forever? Make a “Vendor” account here on PW, upload some photos and a description of the item, and add your 2-week-rental price. It’s easy as pie!
          </div>
          <div class="row py-3 px-5 f-bilo">
            If you are looking to rent out or buy one of these beautiful items for yourself, make a “Shopper” account, check off your style preferences and location settings, and voila! You have access to hundreds of styles while being eco-friendly and bargain savvy. Whether you’re selling, buying, or renting, the Post Wardrobe community is here so you make the most of the latest trends, the older classics, and the unique style of others.
          </div>
          <div class="row py-3 px-4 f-bilo">
            <a href="/browse" class="btn btn-custom c-font-pink ml-auto mr-2">Browse</a>
            <a href="/signup_page" class="btn btn-custom c-font-pink">Join today!</a>
          </div>
          <!--
          <div class="row">
            <div class="col-sm-6 order-last order-sm-first f-bilo p-3 d-flex flex-column justify-content-center p-3">
              Here at Post Wardrobe, we aim to help you get the most out of your favorite items of clothing. Have a bit-too-pricey prom dress you can’t completely let go of just yet? How about a bridesmaid’s dress that would break your best friends heart if you donated or sold forever? Make a “Vendor” account here on PW, upload some photos and a description of the item, and add your 2-week-rental price. It’s easy as pie!
            </div>
            <div class="col-sm-6 order-first order-sm-last c-border d-flex flex-column justify-content-between p-3">
              <img src="../static/imgs/logo_big.png" width="100%">
              <div class="f-bilo py-4">
                If you are looking to rent out or buy one of these beautiful items for yourself, make a “Shopper” account, check off your style preferences and location settings, and voila! You have access to hundreds of styles while being eco-friendly and bargain savvy. Whether you’re selling, buying, or renting, the Post Wardrobe community is here so you make the most of the latest trends, the older classics, and the unique style of others.
              </div>
              <div>
                <a class="btn c-font-pink btn-custom f-bilo float-right">Join today!</a>
              </div>
            </div>
          </div>
-->
        </div>
      </div>
    </div>
  </main>

  {% include 'footer.html' %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body></html>
