<!doctype html>
<html lang="en" class="h-100">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css')}}">

  <link rel="icon" href="{{ url_for('static', filename='imgs/logo.png') }}">

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/362c3782b4.js" crossorigin="anonymous"></script>

  <title>Browse | Post Wardrobe</title>
</head>

<body class="c-bg-yellow d-flex flex-column h-100">
  {% include 'header.html' %}

  <!-- main content -->
  <main role="main" class="flex-shrink-0" style="padding-top: 80px">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md">

          <div id="imageCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#imageCarousel" data-slide-to="1"></li>
              <li data-target="#imageCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              {% for img in imgs %}
              <div class="carousel-item active">
                <img src="{{ img }}" class="d-block w-100" alt="Picture of a dress">
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="m-2">
            <h5 class="f-bilo text-center">$ {{ price }}</h5>
          </div>
        </div>
        <div class="col-md">
          <div class="container">
            <div class="row my-2">
              <h2 class="h2 f-bilo">{{ name }}</h2>
            </div>
            <div class="row my-2">
              <a href="/users/{{user_id}}" class="dark-link">
                <i class="fas fa-user" style="font-size: 20px"></i>
                <div class="d-inline-block f-bilo" style="font-size: 20px">{{ seller_name }}</div>
              </a>
            </div>
            <div class="row f-avenir">
              {{ seller_description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!--
  <footer class="footer mt-auto mx-3 mb-2 d-flex justify-content-center">
    <div id="copyright">Copyright &copy; 2020 Post Wardrobe</div>
    <div id="about" class="ml-auto">
      <a href="/about" class="dark-link">About us</a>
    </div>
  </footer>
-->
  {% include 'footer.html' %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="../static/js/browse.js"></script>
</body></html>
