<!doctype html>
<html lang="en" class="h-100">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css')}}">

  <link rel="icon" href="{{ url_for('static', filename='imgs/logo.png') }}">

  <title>Post Wardrobe</title>
</head>

<body class="c-bg-yellow d-flex flex-column h-100">
  <main role="main" class="flex-shrink-0 mt-2 mr-2">
    {% include 'login.html' %}
    <div class="container mt-3" style="max-width: 800ps;">
      <div class="d-flex justify-content-center">
        <div class="flex-grow-1 p-2" style="max-width: 500px; background-image: url('../static/imgs/stripes.png'); background-size: 200px;">
          <div class="card">
            <h5 class="card-header c-bg-dark c-font-pink">
              Sign Up
            </h5>
            <div class="card-body c-bg-yellow">
              <form id="signup" method="post" action="/signup">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input id="username" type="text" class="form-control" placeholder="JohnDoe" name="username" required>
                </div>
                <div class="form-group">
                  <label for="signupemail">Email</label>
                  <input id="signupemail" type="email" class="form-control" placeholder="johndoe@website.com" name="email" required>
                </div>
                <div class="form-group">
                  <label for="signuppassword">Password</label>
                  <input id="signuppassword" type="password" class="form-control" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" name="password" required> </div>
              </form>
            </div>
            <footer class="card-footer c-bg-light-blue">
              <input type="submit" form="signup" class="btn btn-custom float-right" value="Sign Up">
            </footer>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% include 'footer.html' %}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body></html>
