@font-face {
  font-family: 'Bilo';
  src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenirltstd-light.otf')
}

.f-avenir {
  font-family: 'Avenir', sans-serif;
}

.f-bilo {
  font-family: 'Bilo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
button {
  font-family: 'Bilo', sans-serif;
}

.darken {
  filter: brightness(50%);
}

body {
  font-family: 'Avenir', sans-serif
}

.c-bg-yellow {
  background-color: #FEFFE9;
}

.c-bg-dark {
  background-color: #2B1F19;
}

.c-bg-light-blue {
  background-color: #C3DBCE;
}

.c-bg-brown {
  background-color: #997D6E;
}

.c-bg-pink {
  background-color: #DBB39E;
}

.alert-pink {
  background-color: #DBB39E;
}

.c-bg-dark-blue {
  background-color: #6C7F7F;
}

.c-font-green {
  color: #E3EAB9;
}

.c-font-dark {
  color: #2B1F19;
}

.c-font-light-blue {
  color: #C3DBCE;
}

.c-font-brown {
  color: #997D6E;
}

.c-font-pink {
  color: #DBB39E !important;
}

.c-font-dark-blue {
  color: #6C7F7F;
}

.dark-link {
  color: #473329;
  text-decoration: none;
}

.dark-link:hover {
  color: black;
  text-decoration: none;
}

.black-link {
  color: #555;
  text-decoration: none;
}

.black-link:hover {
  color: #000;
  text-decoration: none;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.05);
}

.btn-custom {
  background-color: #2B1F19;
  color: #DBB39E;
}

.c-border {
  border-left: 1px solid black;
}

.custom-overflow {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-overflow::-webkit-scrollbar {
  display: none;
}


/* Fading */
/* https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08 */

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
